# Note: these are the development requirements for use with pip
# the libraries dependencies are defined in pyproject.toml
python-dateutil
PyYAML
requests
Deprecated
pytest
pytest-asyncio
pytest-cov
responses
python-dotenv
invoke
pylint
PyJWT
cachetools
inputimeout
Flask
websockets
pandas
PyOTP
hatchling
hatch-vcs
importlib_metadata; python_version < '3.8'
tenacity
certifi
urllib3
python-dict-display-filter
jsonpath-ng
jmespath
deepdiff