# Note: these are the development requirements for use with pip
# the libraries dependencies are defined in pyprojjupyterect.toml
PyYAML
pytest
pytest-asyncio
pytest-cov
python-dotenv
invoke
pylint
PyJWT
cachetools
inputimeout
Flask
pandas
PyOTP
hatchling
hatch-vcs
tenacity
certifi
urllib3
python-dict-display-filter
jsonpath-ng
jmespath
deepdiff
coolname
werkzeug
starlette
jupyter