# Note: these are the development requirements for use with pip
# the libraries dependencies are defined in pyprojjupyterect.toml
aiohttp
cachetools
certifi
orjson

coolname
deepdiff
fastapi
hatch-vcs
hatchling
inputimeout
jmespath
jsonpath-ng
pandas
PyJWT
pylint
pytest
pytest-asyncio
pytest-cov
python-dict-display-filter
python-dotenv
starlette
tenacity
ujson
uvicorn
werkzeug
